body {
  font-size: 16px;
  color: #fff;
  padding: 0;
}

/*navbar*/
#header-nav{
text-align: left;
background-color: gray;
border: 2px black solid;
min-height: 50px;
margin-bottom: 0;
}
.navbar-brand h1{
color: black;
font-size: 1.5em;
margin-top:  0;
}
#collapsable-nav{
  border-top: 1px black solid;
}
#nav-list{
  margin-bottom: 0;
  margin-top: 0;
  background: #d5c0ff;
}
#nav-list a{
  text-align: center;
  color: black;
  border: 1px black solid;
}
#nav-list a:hover{
  background: #e7e7e7;
}
#nav-list a span{
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
 border:1px solid black;
}
/*header*/
h2 {
  margin: 10px; 
}
/*body*/
.container{
  height: 1000px;
  background-color: gray;
  color: black;
  margin-left: 15px;
}